/* CSS untuk container utama */
/* Header */
.navbar {
    background-color: #5f84a2;
    color: #fff;
    padding: 5px 0;
    text-align: center;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-list li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  
  .container {
    background-color: #ffc0cb;
    display: flex;
    flex-direction: column;
    align-items: center; /* Memusatkan horizontal */
    justify-content: center; /* Memusatkan vertikal */
    min-height: 100vh; /* Membuat kontainer setidaknya seluruh tinggi viewport */
  }
  
  /* CSS untuk form */
  form {
    margin-top: 20px;
    text-align: center;
  }
  
  /* CSS untuk gambar-gambar */
  .result-container {
    display: flex;
    align-items: center; /* Memusatkan horizontal */
    justify-content: center; /* Memusatkan vertikal */
    margin-top: 20px;
  }
  
  /* CSS untuk gambar */
  .image-container {
    margin: 0 10px; /* Jarak antara gambar asli dan gambar ter-blur */
    text-align: center;
  }
  
  /* CSS untuk gambar asli */
  .image-container img.original {
    max-width: 100%;
    margin-right: 50px;
    height: auto; /* Agar gambar tidak terlalu besar */
  }
  
  /* CSS untuk gambar ter-blur */
  .image-container img.blurred {
    max-width: 100%;
    height: auto; /* Agar gambar tidak terlalu besar */
  }
  
  /* CSS untuk tombol Terapkan Blur berwarna */
  .back-button {
    margin-top: 10px;
    background-color: #5f84a2; /* Warna latar belakang yang sama */
    color: #fff; /* Warna teks yang sama */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
  background-color: #537d90;
}