<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kartunisasi (Cartoonify)</title>
  <link rel="stylesheet" href="/static/css/blur.css">
  <style>
    body {
      background-image: #ffc0cb;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      /*Tambahkan atribut di atas untuk gambar latar belakang dengan efek parallax*/
      background-repeat: no-repeat;
    }
  </style>
</head>

<body>

  <button type="button" onclick="saveImage()">Save Cartoon Image</button>

  <nav class="navbar">
    <ul class="nav-list">
      <li><a href="#">Kartunisasi</a></li>

    </ul>
  </nav>

  <div class="container">
    <div class="content">

      <form action="{{ url_for('kartun') }}" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" accept="image/*" required>
        <br>
        <button type="submit">Submit</button>
      </form>
      <br>
      <div class="result-container">
        {% if original_image %}
          <div class="image-container">
            <h2>Gambar Asli</h2>
            <img class="original" src="{{ original_image }}" alt="Original Image">
          </div>
        {% endif %}
        {% if cartoon_image %}
          <div class="image-container">
            <h2>Hasil Cartoonify</h2>
            <img class="cartoonify" src="{{ cartoon_image }}" alt="cartoonify Result">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <button class="back-button" onclick="goBack()">Back</button>

  <script>
    function saveImage() {
      // Mendapatkan gambar hasil kartunisasi
      var cartoonImage = document.querySelector('.cartoonify');

      // Mendapatkan data gambar
      var imageData = cartoonImage.toDataURL();

      // Membuat elemen <a> untuk menyimpan gambar
      var link = document.createElement('a');
      link.href = imageData;
      link.download = 'cartoonify.jpg';

      // Memicu event click untuk menyimpan gambar
      link.click();
    }

    function goBack() {
      window.history.back();
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>
