{% extends "layout.html" %}
{%block content %}
    
        <div id="viewport">
            <div id="js-scroll-content">
                <section class="main-banner" id="home">
                    <div class="sec-wp">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="banner-text">
                                        <h1 class="h1-title">
                                            Welcome to
                                            <span>Soka</span>
                                        </h1>
                                        <h3>Mengubah Dunia Melalui Pengolahan Citra</h3>
                                        <p>Sebuah platform online yang dirancang khusus untuk membagikan informasi dan pengetahuan tentang berbagai teknik image processing.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="banner-img-wp">
                                        <div class="banner-img" style="background-image: url(static/assets/images/bg.jpg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            <section class="about-sec section" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-title text-center mb-5">
                                <p class="sec-sub-title mb-2">About Us</p>
                                <h2 class="h2-title">Discover our <span>project story</span></h2>
                                <div class="sec-title-shape mb-4">
                                    <img src="static/assets/images/title-shape.svg" alt="">
                                </div>
                                <p>Website ini menyediakan metode-metode image processing seperti Histogram Equalization, Face Blurring,  
                                    Edge Detection, Segmentasi dan metode lainnya. Pengguna dapat 
                                    menjelajahi berbagai contoh output gambar terkait image processing. Tujuan utama dari website 
                                    ini adalah memberikan pengetahuan praktis dan mendukung pengembangan proyek-proyek 
                                    yang melibatkan pengolahan gambar secara efektif.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 m-auto">
                                <div class="about-img" style="background-image: url(static/assets/images/aboutus.jpg);">
                                </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="our-team section">
                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sec-title text-center mb-5">
                                    <p class="sec-sub-title mb-3">Our Team</p>
                                    <h2 class="h2-title">Meet our Teams</h2>
                                    <div class="sec-title-shape mb-4">
                                        <img src="static/assets/images/title-shape.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row team-slider">
                            <div class="swiper-wrapper">
                                <div class="col-lg-4 swiper-slide">
                                    <div class="team-box text-center">
                                        <div style="background-image: url(static/assets/Tim/c1.jpeg);"
                                            class="team-img back-img">
            
                                        </div>
                                        <h3 class="h3-title">Marlina</h3>
                                        <div class="social-icon">
                                            <ul>
                                                <li>
                                                    <a href="https://github.com/marlinaa31" target="_blank">
                                                        <i class="uil uil-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/marlina31_/" target="_blank">
                                                        <i class="uil uil-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/marlina-/" target="_blank">
                                                        <i class="uil uil-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 swiper-slide">
                                    <div class="team-box text-center">
                                        <div style="background-image: url(static/assets/Tim/c2.jpg);"
                                            class="team-img back-img">
            
                                        </div>
                                        <h3 class="h3-title">Tasya Nadila</h3>
                                        <div class="social-icon">
                                            <ul>
                                                <li>
                                                    <a href="https://github.com/Tasyanadila" target="_blank">
                                                        <i class="uil uil-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/tasyanadilaa_/" target="_blank">
                                                        <i class="uil uil-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/tasyanadila/" target="_blank">
                                                        <i class="uil uil-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 swiper-slide">
                                    <div class="team-box text-center">
                                        <div style="background-image: url(static/assets/Tim/c3.jpg);"
                                            class="team-img back-img">
            
                                        </div>
                                        <h3 class="h3-title">Muhammad Kemal Fasya</h3>
                                        <div class="social-icon">
                                            <ul>
                                                <li>
                                                    <a href="https://github.com/Dbrandlazz" target="_blank">
                                                        <i class="uil uil-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/muhammadkemalfasya/" target="_blank">
                                                        <i class="uil uil-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/muhammad-kemal-fasya/" target="_blank">
                                                        <i class="uil uil-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-wp">
                                    <div class="swiper-button-prev swiper-button">
                                        <i class="uil uil-angle-left"></i>
                                    </div>
                                    <div class="swiper-button-next swiper-button">
                                        <i class="uil uil-angle-right"></i>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>            

{% endblock %}
